{% extends "backstage.html" %}
{% block head %}
{{ super() }}

{% endblock head %}

{% block title %}BookStore{% endblock title%}

{% block content%}


<br/>
<div class="container-xl">
  <br/>
  <form method="post" enctype=multipart/form-data action={{ url_for('manager.edit') }}>
    <table class="table table-bordered">
      <tr>
        <th>編號</th>
        <td><input class="form-control" type="text" value="{{ data.職缺編號 }}" name="vid" readonly class="id_input"></td>
      </tr>
      <tr>
        <th>名稱(必填)</th>
        <td><input class="form-control" type="text" value="{{ data.職缺名稱 }}" name="vName" required></td>
      </tr>
      <tr>
        <th>內容(必填)</th>
        <td><input class="form-control" type="text" value="{{ data.職缺內容 }}" name="content" required></td>
      </tr>
      <tr>
        <th>上班時間(必填)</th>
        <td><input class="form-control" type="text" value="{{ data.上班時間 }}" name="workTime" required></td>
      </tr>
      <tr>
        <th>技能需求</th>
        {% if data.技能需求 == None %}
        <td><input class="form-control" type="text" value="無" name="required"></td>
        {% else %}
        <td><input class="form-control" type="text" value="{{ data.技能需求 }}" name="skill"></td>
        {% endif %}
      </tr>
      <tr>
        <th>薪水(必填)</th>
        <td><input class="form-control" type="text" value="{{ data.薪水 }}" name="salary" required></td>
      </tr>
      <tr>
        <th>人數(必填)</th>
        <td><input class="form-control" type="text" value="{{ data.需求人數 }}" name="people" required></td>
      </tr>
      <tr>
        <th>處室</th>
        <td><input class="form-control" type="text" value="{{ data.office }}" name="office" readonly></td>
      </tr>
      <tr>
        <th>單位</th>
        <td><input class="form-control" type="text" value="{{ data.division }}" name="location" readonly></td>
      </tr>
    </table>
    <center>
      <div class="option">
        <button class="btn btn-outline-success" type="submit">確定修改</button> 
        <a href="{{ url_for('manager.productManager') }}"><button class="btn btn-outline-danger">回職缺管理</button></a>
      </div>
    </center>

  </form>
</div>



{% endblock content%}