{% extends "backstage.html" %}
{% block head %}
{{ super() }}
{% endblock head %}
<!-- website title -->
{% block title %} 應徵者管理 {% endblock title %}

{% block content %}
<!-- website content -->

<script>
    $(document).ready(function(){
        $("#keyword").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#orderlist tr").filter(function() {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>


{% for i in orderData %}
<div class="modal fade bd-example-modal-xl" id="staticBackdrop{{i.應徵編號}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">詳細申請資料</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <table class="table table-bordered">
                        <tr>
                            <th><center>學號</center></th>
                            <th><center>系所</center></th>
                            <th><center>年級</center></th>
                            <th><center>姓名</center></th>
                            <th><center>職缺編號</center></th>
                            <th><center>職缺名稱</center></th>
                            <th><center>可工作時段</center></th>
                            <th><center>加分備註</center></th>
                            <th><center>應徵時間</center></th>
                        </tr>
                            
                        {% for j in orderDetail %}
                        {% if j.應徵編號 == i.應徵編號 %}
                        <tr>
                            <td> <center>{{ j.學號 }}</center></td>
                            <td> <center>{{ j.系所 }}</center></td>
                            <td> <center>{{ j.年級 }}</center></td>
                            <td> <center>{{ j.姓名 }}</center></td>
                            <td> <center>{{ j.應徵職缺編號 }}</center></td>
                            <td> <center>{{ j.職缺名稱 }}</center></td>
                            <td> <center>{{ j.可工作時段 }}</center></td>
                            <td> <center>{{ j.加分備註 }}</center></td>
                            <td> <center>{{ j.應徵時間 }}</center></td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}

<br/>
<div class="d-flex justify-content-between container-xxl">
    <div class="d-flex col-sm-4">
        <span class="input-group-text" id="basic-addon1">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
          </svg>
        </span>
        <input class="form-control me-2" id="keyword" placeholder="搜尋" aria-label="Search">
    </div>
</div>

<br/>

<div class="container-xxl">
  <form method="post" action={{ url_for('manager.orderManager') }} >
    <table class="table table-bordered">
        <thead>
            <tr>
                <th width="10%"><center>學號</center></th>
                <th width="10%"><center>姓名</center></th>
                <th width="10%"><center>應徵職缺編號</center></th>
                <th width="10%"><center>應徵職缺</center></th>
                <th width="15%"><center>申請資料</center></th>
                <th width="20%"><center>審核狀態</center></th>
            </tr>
        </thead>
        <tbody id="orderlist">
        {% for i in orderData %}
            <tr>
                <td><center>{{ i.學號 }}</center></td>
                <td><center>{{ i.姓名 }}</center></td>
                <td><center>{{ i.應徵職缺編號 }}</center></td>
                <td><center>{{ i.應徵職缺 }}</center></td>
                <td><center>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop{{i.應徵編號}}">
                        查看申請資料
                    </button>
                </center></td>
                {% if i.審核狀態 == 0 %}
                    <td><center>
                        <button type="submit" value="{{i.應徵編號}}" name="meet" onclick="return (confirm('你確定要通知 \'{{ i.姓名 }}\' 前來面試嗎？'))" class="btn btn-danger">
                            通知面試
                        </button>
                    </center></td>
                {% elif i.審核狀態 == 1 %}
                    <td><center>
                        <button type="submit" value="{{i.應徵編號}}" name="offer" onclick="return (confirm('你確定要通知 \'{{ i.姓名 }}\' 錄取 \'{{ i.應徵職缺 }}\' 嗎？'))" class="btn btn-success">
                            確定錄取
                        </button>
                    </center></td>
                {% else %}
                    <td><center>
                        <button  class="btn" type="button" disabled>
                            已錄取
                        </button>
                    </center></td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
  </form>
</div>
{% endblock content %}