{% extends "backstage.html" %}
{% block head %}
{{ super() }}
{% endblock head %}

{% block title %} 職缺管理 {% endblock title %}

{% block content %}

{% with messages = get_flashed_messages() %}
{% if messages[0] == 'No permission' %}
  
<script language="javascript">

  alert('您沒有使用者的權限喔！');

</script>


{% endif %}
{% endwith %}

{% with messages = get_flashed_messages() %}
{% if messages[0] == 'failed' %}
  
<script language="javascript">

  alert('有使用者有使用到這筆資料，所以不能刪除');

</script>

{% endif %}
{% endwith %}

<script>
    $(document).ready(function(){
        $("#keyword").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#product tr").filter(function() {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>
&nbsp;
&nbsp;
<div class="d-flex justify-content-between container-xxl">
    <div class="d-flex col-sm-4">
        <span class="input-group-text" id="basic-addon1">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
          </svg>
        </span>
        <input class="form-control me-2" id="keyword" placeholder="搜尋職缺" aria-label="Search">
    </div>
    <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        新增職缺
    </button>
</div>

<form method="post" enctype=multipart/form-data action={{ url_for('manager.add') }}>
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">新增職缺</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="inputProductName" class="form-label">名稱(必填)</label>
                        <input type="text" class="form-control" id="inputProductName" name="vName" required>
                    </div>
                    <div class="mb-3">
                        <label for="inputUnitPrice" class="form-label">內容(必填)</label>
                        <input type="text" class="form-control" id="inputUnitPrice" name="content" required>
                    </div>
                    <div class="mb-3">
                        <label for="inputUnitPrice" class="form-label">上班時間(必填)</label>
                        <input type="text" class="form-control" id="inputUnitPrice" name="workTime" required>
                    </div>
                    <div class="mb-3">
                        <label for="inputUnitPrice" class="form-label">技能需求</label>
                        <input type="text" class="form-control" id="inputUnitPrice" name="skill">
                    </div>
                    <div class="mb-3">
                        <label for="inputUnitPrice" class="form-label">薪水(必填)</label>
                        <input type="text" class="form-control" id="inputUnitPrice" name="salary" required>
                    </div>
                    <div class="mb-3">
                        <label for="inputUnitPrice" class="form-label">人數(必填)</label>
                        <input type="number" class="form-control" id="inputUnitPrice" name="people" required>
                    </div>
                    <div class="mb-3">
                        <label for="office-list" class="form-label">處室(必填)</label>
                        <select id="office-list" class="form-select" name="office" onchange="changeOffice(this.value)" required>
                            <option selected disabled value="">請選擇處室</option>
                            <option value='學務處'>學務處</option>
                            <option value='管理學院'>管理學院</option>
                            <option value='教務處'>教務處</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="unit-list" class="form-label">單位(必填)</label>
                        <select id="unit-list" class="form-select" name="unit" required>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">取消</button>
                    <button type="submit" class="btn btn-success">確定新增</button>
                </div>
            </div>
        </div>
    </div>
</form>

<br/>

<div class="container-xxl">

<form method='post' action={{ url_for('manager.productManager') }} >
<table id="manager" class="table table-bordered">
    <thead>
        <tr>
            <th width="5%"><center>編號</center></th>
            <th width="10%"><center>名稱</center></th>
            <th width="10%"><center>內容</center></th>
            <th width="10%"><center>上班時間</center></th>
            <th width="10%"><center>技能需求</center></th>
            <th width="10%"><center>薪水</center></th>
            <th width="5%"><center>人數</center></th>
            <th width="10%"><center>處室</center></th>
            <th width="10%"><center>單位</center></th>
            <th colspan="2"><center>職缺操作</center></th>
        </tr>
    </thead>
    <tbody id="product">
    {% for i in book_data %}
        <tr>
            <td><center>{{ i.職缺編號 }}</center></td>
            <td><center>{{ i.職缺名稱 }}</center></td>
            <td><center>{{ i.職缺內容 }}</center></td>
            <td><center>{{ i.上班時間 }}</center></td>
            {% if i.技能需求 == None %}
            <td><center>無</center></td>
            {% else %}
            <td><center>{{i.技能需求}}</center></td>
            {% endif %}
            <td><center>{{ i.薪水 }}</center></td>
            <td><center>{{ i.需求人數 }}</center></td>
            <td><center>{{ i.office }}</center></td>
            <td><center>{{ i.division }}</center></td>
            <td><center><button type="submit" value="{{i.職缺編號}}" name="edit" class="btn btn-primary">編輯</button></center></td>
            {% if i.status == 0 %}
            <td><center><button type="submit" value="{{i.職缺編號}}" name="open" onclick="return (confirm('你確定要開啟 \'{{ i.職缺名稱 }}\' 嗎？'))" class="btn btn-success">開啟</button></center></td>
            {% else %}
            <td><center><button type="submit" value="{{i.職缺編號}}" name="close" onclick="return (confirm('你確定要關閉 \'{{ i.職缺名稱 }}\' 嗎？'))" class="btn btn-danger">關閉</button></center></td>
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
    
</table>
</form>


</div>

<script>
    let unit = {
        '學務處': ['體育組'],
        '管理學院': ['資管系'],
        '教務處': ['招生組']
    };
    
    function changeOffice(index){
        console.log(index)
        //跟剛剛一樣，製造一個字串，以html的語法填入系所的陣列
        var Sinner="";
        for(var i=0;i<unit[index].length;i++){
            Sinner=Sinner+'<option value='+unit[index][i]+'>'+unit[index][i]+'</option>';
        }
        //抓到"sector-list"這select元素，修改其值
        var unitSelect=document.getElementById("unit-list");
        unitSelect.innerHTML=Sinner;
    }
    function have_product(){
      alert('有使用者有使用到這筆資料，所以不能刪除');
    }
</script>

{% endblock content %}