{% extends "frontstage.html" %}
{% block head %}
{{ super() }}
{% endblock head %}

{% block title %}BookStore{% endblock title%}

{% block content %}

<br/>
<div class="container-xl">
  <form method="post" action={{ url_for('bookstore.orderlist') }}>
    <table class="table table-bordered">
      <tr>
        <th><center>應徵編號</center></th>
        <th><center>應徵時間</center></th>
        <th><center>應徵狀態</center></th>
        <th><center>查看職缺</center></th>
      </tr>
      {% for i in data %}
      <tr>
        <td> <center>{{ i.應徵編號 }}</center></td>
        <td> <center>{{ i.應徵時間 }}</center></td>
        <td> <center>{{ i.應徵狀態 }}</center></td>
        <td width="20%">
          <center>
            <a href="{{ url_for('bookstore.bookstore', pid=i.職缺編號) }}" class="btn btn-outline-success">職缺資訊</a>
            <!-- <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#staticBackdrop{{i.訂單編號}}">
              查看職缺細項
            </button> -->
          </center>
        </td>
      </tr>
      {% endfor %}
    </table>

  </form>
</div>

{% endblock content %}

