{% extends "base.html" %}
{% block head %}
{{ super() }}
{% endblock head %}

{% block title %}中山工讀媒合網站{% endblock title%}

{% block content%}
<div>
    <div class="wrap">
        <div class="banner">
            <img src="https://www.nsysu.edu.tw/static/file/0/1000/pictures/138/m/mczh-tw1920x1200_small301694_260564722259.jpg">
          <h2>中山工讀媒合網站</h2>
        </div>
        
        <div class="btn_div">
            <a href="{{ url_for('api.register') }}">
                <button class="index_btn">註冊</button>
            </a>
            <a href="{{ url_for('api.login') }}">
                <button class="index_btn">登入</button>
            </a>
        </div>
    </div>


</div>
{% endblock content%}